<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a class="nav-link active" href="/user" >
          <div class="sb-nav-link-icon">
            <i class="fas fa-table"></i>
          </div>
          客戶資料管理
        </a>
    </div>
  </nav>
</div>
